--
-- PostgreSQL database dump
--

\restrict GIFAcwu03wakV8ECZ8PpGWbVc462Xh2FrVrjmpgMnYfQf4cHqgWVGep1L98cxtJ

-- Dumped from database version 16.11 (Debian 16.11-1.pgdg13+1)
-- Dumped by pg_dump version 16.11 (Debian 16.11-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO sa;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO sa;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO sa;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO sa;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO sa;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO sa;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO sa;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.messages (
    id bigint NOT NULL,
    chat_order integer NOT NULL,
    role character varying(10) NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    session_id bigint NOT NULL
);


ALTER TABLE public.messages OWNER TO sa;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_category; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_category (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    category_code integer NOT NULL,
    category_name character varying(50) NOT NULL
);


ALTER TABLE public.precedents_category OWNER TO sa;

--
-- Name: precedents_category_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_court; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_court (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    court_code integer NOT NULL,
    court_type character varying(20) NOT NULL,
    court_name character varying(50) NOT NULL
);


ALTER TABLE public.precedents_court OWNER TO sa;

--
-- Name: precedents_court_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_court ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_court_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_keyword; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_keyword (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    name character varying(200) NOT NULL
);


ALTER TABLE public.precedents_keyword OWNER TO sa;

--
-- Name: precedents_keyword_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_keyword ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_keyword_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_outcome; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_outcome (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    outcome_code integer NOT NULL,
    outcome_type character varying(50) NOT NULL
);


ALTER TABLE public.precedents_outcome OWNER TO sa;

--
-- Name: precedents_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_outcome ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_outcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_precedent; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_precedent (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    case_no character varying(50) NOT NULL,
    case_name character varying(50) NOT NULL,
    case_title character varying(100) NOT NULL,
    decision_type character varying(20) NOT NULL,
    judge_date date NOT NULL,
    judgment_content text,
    judgment_summary text,
    holdings text,
    question text,
    answer text,
    summary_original text,
    summary text,
    court_id bigint NOT NULL,
    subcategories_id bigint NOT NULL
);


ALTER TABLE public.precedents_precedent OWNER TO sa;

--
-- Name: precedents_precedent_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_precedent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_precedent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_referencecourtcase; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_referencecourtcase (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    ref_case_no character varying(50) NOT NULL
);


ALTER TABLE public.precedents_referencecourtcase OWNER TO sa;

--
-- Name: precedents_referencecourtcase_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_referencecourtcase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_referencecourtcase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_referencerule; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_referencerule (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    law_type character varying(50) NOT NULL,
    article_no integer NOT NULL
);


ALTER TABLE public.precedents_referencerule OWNER TO sa;

--
-- Name: precedents_referencerule_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_referencerule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_referencerule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_relationcourtcase; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_relationcourtcase (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    precedents_id bigint NOT NULL,
    reference_court_cases_id bigint NOT NULL
);


ALTER TABLE public.precedents_relationcourtcase OWNER TO sa;

--
-- Name: precedents_relationcourtcase_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_relationcourtcase ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_relationcourtcase_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_relationkeyword; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_relationkeyword (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    keywords_id bigint NOT NULL,
    precedents_id bigint NOT NULL
);


ALTER TABLE public.precedents_relationkeyword OWNER TO sa;

--
-- Name: precedents_relationkeyword_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_relationkeyword ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_relationkeyword_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_relationoutcome; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_relationoutcome (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    outcome_value integer,
    outcomes_id bigint NOT NULL,
    precedents_id bigint NOT NULL
);


ALTER TABLE public.precedents_relationoutcome OWNER TO sa;

--
-- Name: precedents_relationoutcome_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_relationoutcome ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_relationoutcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_relationrule; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_relationrule (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    precedents_id bigint NOT NULL,
    reference_rules_id bigint NOT NULL
);


ALTER TABLE public.precedents_relationrule OWNER TO sa;

--
-- Name: precedents_relationrule_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_relationrule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_relationrule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: precedents_subcategory; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.precedents_subcategory (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    subcategory_name character varying(50) NOT NULL,
    categories_id bigint NOT NULL
);


ALTER TABLE public.precedents_subcategory OWNER TO sa;

--
-- Name: precedents_subcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.precedents_subcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.precedents_subcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.sessions (
    id bigint NOT NULL,
    title character varying(50) NOT NULL,
    bookmark boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.sessions OWNER TO sa;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.sessions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: sa
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    clerk_id character varying(255) NOT NULL,
    email character varying(50),
    first_name character varying(50),
    last_name character varying(50),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_deleted boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL
);


ALTER TABLE public.users OWNER TO sa;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sa
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	chats	message
8	chats	session
9	precedents	category
10	precedents	court
11	precedents	keyword
12	precedents	outcome
13	precedents	precedent
14	precedents	referencecourtcase
15	precedents	referencerule
16	precedents	relationcourtcase
17	precedents	relationkeyword
18	precedents	relationoutcome
19	precedents	relationrule
20	precedents	subcategory
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.messages (id, chat_order, role, content, created_at, updated_at, is_deleted, session_id) FROM stdin;
\.


--
-- Data for Name: precedents_category; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: precedents_court; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: precedents_outcome; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_outcome (id, created_at, updated_at, is_deleted, outcome_code, outcome_type) FROM stdin;
\.


--
-- Data for Name: precedents_precedent; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_precedent (id, created_at, updated_at, is_deleted, case_no, case_name, case_title, decision_type, judge_date, judgment_content, judgment_summary, holdings, question, answer, summary_original, summary, court_id, subcategories_id) FROM stdin;
\.


--
-- Data for Name: precedents_referencecourtcase; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_referencecourtcase (id, created_at, updated_at, is_deleted, ref_case_no) FROM stdin;
\.


--
-- Data for Name: precedents_referencerule; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_referencerule (id, created_at, updated_at, is_deleted, law_type, article_no) FROM stdin;
\.


--
-- Data for Name: precedents_relationcourtcase; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_relationcourtcase (id, created_at, updated_at, is_deleted, precedents_id, reference_court_cases_id) FROM stdin;
\.


--
-- Data for Name: precedents_relationkeyword; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_relationkeyword (id, created_at, updated_at, is_deleted, keywords_id, precedents_id) FROM stdin;
\.


--
-- Data for Name: precedents_relationoutcome; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_relationoutcome (id, created_at, updated_at, is_deleted, outcome_value, outcomes_id, precedents_id) FROM stdin;
\.


--
-- Data for Name: precedents_relationrule; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.precedents_relationrule (id, created_at, updated_at, is_deleted, precedents_id, reference_rules_id) FROM stdin;
\.


--
-- Data for Name: precedents_subcategory; Type: TABLE DATA; Schema: public; Owner: sa
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.sessions (id, title, bookmark, created_at, updated_at, is_deleted, user_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sa
--

COPY public.users (id, password, last_login, clerk_id, email, first_name, last_name, created_at, updated_at, is_deleted, is_staff, is_superuser) FROM stdin;
4		\N	user_38LAWHIwINoCn2DoezInPHHUoDN	dlehdrjs11234@naver.com	?숆굔	??2026-01-16 13:01:21.503156+00	2026-01-16 13:03:15.426469+00	f	f	f
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.messages_id_seq', 1, false);


--
-- Name: precedents_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_category_id_seq', 10, true);


--
-- Name: precedents_court_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_court_id_seq', 142, true);


--
-- Name: precedents_keyword_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_keyword_id_seq', 1, false);


--
-- Name: precedents_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_outcome_id_seq', 1, false);


--
-- Name: precedents_precedent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_precedent_id_seq', 1, false);


--
-- Name: precedents_referencecourtcase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_referencecourtcase_id_seq', 1, false);


--
-- Name: precedents_referencerule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_referencerule_id_seq', 1, false);


--
-- Name: precedents_relationcourtcase_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_relationcourtcase_id_seq', 1, false);


--
-- Name: precedents_relationkeyword_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_relationkeyword_id_seq', 1, false);


--
-- Name: precedents_relationoutcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_relationoutcome_id_seq', 1, false);


--
-- Name: precedents_relationrule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_relationrule_id_seq', 1, false);


--
-- Name: precedents_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.precedents_subcategory_id_seq', 6646, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sa
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: precedents_category precedents_category_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_category
    ADD CONSTRAINT precedents_category_pkey PRIMARY KEY (id);


--
-- Name: precedents_court precedents_court_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_court
    ADD CONSTRAINT precedents_court_pkey PRIMARY KEY (id);


--
-- Name: precedents_keyword precedents_keyword_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_keyword
    ADD CONSTRAINT precedents_keyword_pkey PRIMARY KEY (id);


--
-- Name: precedents_outcome precedents_outcome_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_outcome
    ADD CONSTRAINT precedents_outcome_pkey PRIMARY KEY (id);


--
-- Name: precedents_precedent precedents_precedent_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_precedent
    ADD CONSTRAINT precedents_precedent_pkey PRIMARY KEY (id);


--
-- Name: precedents_referencecourtcase precedents_referencecourtcase_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_referencecourtcase
    ADD CONSTRAINT precedents_referencecourtcase_pkey PRIMARY KEY (id);


--
-- Name: precedents_referencerule precedents_referencerule_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_referencerule
    ADD CONSTRAINT precedents_referencerule_pkey PRIMARY KEY (id);


--
-- Name: precedents_relationcourtcase precedents_relationcourtcase_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationcourtcase
    ADD CONSTRAINT precedents_relationcourtcase_pkey PRIMARY KEY (id);


--
-- Name: precedents_relationkeyword precedents_relationkeyword_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationkeyword
    ADD CONSTRAINT precedents_relationkeyword_pkey PRIMARY KEY (id);


--
-- Name: precedents_relationoutcome precedents_relationoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationoutcome
    ADD CONSTRAINT precedents_relationoutcome_pkey PRIMARY KEY (id);


--
-- Name: precedents_relationoutcome precedents_relationoutcome_precedents_id_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationoutcome
    ADD CONSTRAINT precedents_relationoutcome_precedents_id_key UNIQUE (precedents_id);


--
-- Name: precedents_relationrule precedents_relationrule_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationrule
    ADD CONSTRAINT precedents_relationrule_pkey PRIMARY KEY (id);


--
-- Name: precedents_subcategory precedents_subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_subcategory
    ADD CONSTRAINT precedents_subcategory_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_clerk_id_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_clerk_id_key UNIQUE (clerk_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: messages_session_id_8b58efc4; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX messages_session_id_8b58efc4 ON public.messages USING btree (session_id);


--
-- Name: precedents_precedent_court_id_0f214479; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_precedent_court_id_0f214479 ON public.precedents_precedent USING btree (court_id);


--
-- Name: precedents_precedent_subcategories_id_29e515f8; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_precedent_subcategories_id_29e515f8 ON public.precedents_precedent USING btree (subcategories_id);


--
-- Name: precedents_relationcourtcase_precedents_id_971aa4e7; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationcourtcase_precedents_id_971aa4e7 ON public.precedents_relationcourtcase USING btree (precedents_id);


--
-- Name: precedents_relationcourtcase_reference_court_cases_id_55464941; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationcourtcase_reference_court_cases_id_55464941 ON public.precedents_relationcourtcase USING btree (reference_court_cases_id);


--
-- Name: precedents_relationkeyword_keywords_id_828b1d9f; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationkeyword_keywords_id_828b1d9f ON public.precedents_relationkeyword USING btree (keywords_id);


--
-- Name: precedents_relationkeyword_precedents_id_bfd1b196; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationkeyword_precedents_id_bfd1b196 ON public.precedents_relationkeyword USING btree (precedents_id);


--
-- Name: precedents_relationoutcome_outcomes_id_b9d26ce6; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationoutcome_outcomes_id_b9d26ce6 ON public.precedents_relationoutcome USING btree (outcomes_id);


--
-- Name: precedents_relationrule_precedents_id_e9adbace; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationrule_precedents_id_e9adbace ON public.precedents_relationrule USING btree (precedents_id);


--
-- Name: precedents_relationrule_reference_rules_id_d3cdc039; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_relationrule_reference_rules_id_d3cdc039 ON public.precedents_relationrule USING btree (reference_rules_id);


--
-- Name: precedents_subcategory_categories_id_cf520452; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX precedents_subcategory_categories_id_cf520452 ON public.precedents_subcategory USING btree (categories_id);


--
-- Name: sessions_user_id_05e26f4a; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX sessions_user_id_05e26f4a ON public.sessions USING btree (user_id);


--
-- Name: users_clerk_id_2956da0b_like; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX users_clerk_id_2956da0b_like ON public.users USING btree (clerk_id varchar_pattern_ops);


--
-- Name: users_email_0ea73cca_like; Type: INDEX; Schema: public; Owner: sa
--

CREATE INDEX users_email_0ea73cca_like ON public.users USING btree (email varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: messages messages_session_id_8b58efc4_fk_sessions_id; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_session_id_8b58efc4_fk_sessions_id FOREIGN KEY (session_id) REFERENCES public.sessions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_precedent precedents_precedent_court_id_0f214479_fk_precedents_court_id; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_precedent
    ADD CONSTRAINT precedents_precedent_court_id_0f214479_fk_precedents_court_id FOREIGN KEY (court_id) REFERENCES public.precedents_court(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_precedent precedents_precedent_subcategories_id_29e515f8_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_precedent
    ADD CONSTRAINT precedents_precedent_subcategories_id_29e515f8_fk_precedent FOREIGN KEY (subcategories_id) REFERENCES public.precedents_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationcourtcase precedents_relationc_precedents_id_971aa4e7_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationcourtcase
    ADD CONSTRAINT precedents_relationc_precedents_id_971aa4e7_fk_precedent FOREIGN KEY (precedents_id) REFERENCES public.precedents_precedent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationcourtcase precedents_relationc_reference_court_case_55464941_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationcourtcase
    ADD CONSTRAINT precedents_relationc_reference_court_case_55464941_fk_precedent FOREIGN KEY (reference_court_cases_id) REFERENCES public.precedents_referencecourtcase(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationkeyword precedents_relationk_keywords_id_828b1d9f_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationkeyword
    ADD CONSTRAINT precedents_relationk_keywords_id_828b1d9f_fk_precedent FOREIGN KEY (keywords_id) REFERENCES public.precedents_keyword(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationkeyword precedents_relationk_precedents_id_bfd1b196_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationkeyword
    ADD CONSTRAINT precedents_relationk_precedents_id_bfd1b196_fk_precedent FOREIGN KEY (precedents_id) REFERENCES public.precedents_precedent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationoutcome precedents_relationo_outcomes_id_b9d26ce6_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationoutcome
    ADD CONSTRAINT precedents_relationo_outcomes_id_b9d26ce6_fk_precedent FOREIGN KEY (outcomes_id) REFERENCES public.precedents_outcome(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationoutcome precedents_relationo_precedents_id_63ca746b_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationoutcome
    ADD CONSTRAINT precedents_relationo_precedents_id_63ca746b_fk_precedent FOREIGN KEY (precedents_id) REFERENCES public.precedents_precedent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationrule precedents_relationr_precedents_id_e9adbace_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationrule
    ADD CONSTRAINT precedents_relationr_precedents_id_e9adbace_fk_precedent FOREIGN KEY (precedents_id) REFERENCES public.precedents_precedent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_relationrule precedents_relationr_reference_rules_id_d3cdc039_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_relationrule
    ADD CONSTRAINT precedents_relationr_reference_rules_id_d3cdc039_fk_precedent FOREIGN KEY (reference_rules_id) REFERENCES public.precedents_referencerule(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: precedents_subcategory precedents_subcatego_categories_id_cf520452_fk_precedent; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.precedents_subcategory
    ADD CONSTRAINT precedents_subcatego_categories_id_cf520452_fk_precedent FOREIGN KEY (categories_id) REFERENCES public.precedents_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: sessions sessions_user_id_05e26f4a_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: sa
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_05e26f4a_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict GIFAcwu03wakV8ECZ8PpGWbVc462Xh2FrVrjmpgMnYfQf4cHqgWVGep1L98cxtJ

