# Django
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=dev-secret-key
DJANGO_DEBUG=True

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_HOST=postgres
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=sa
DB_PASSWORD=1234
