services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - backend.env # 파일명이 .env가 아니라 backend.env인 것 확인!
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - postgres
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      bash -c "
      python wait_postgres.py &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data: