services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - backend.env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    restart: always
    depends_on:
      - opensearch
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: >
      bash -c "
      python wait_postgres.py &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      pip install -r requirements.txt &&
      python index_merged_precedents.py &&
      python manage.py runserver 0.0.0.0:8000
      "
#  python index_merged_precedents.py &&
  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"
      - "9600:9600"
    restart: always

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      # OPENSEARCH_HOSTS는 서비스 이름인 'opensearch'를 바라봐야 합니다.
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true"
    depends_on:
      - opensearch
    restart: always

# 중복되었던 volumes 섹션을 하나로 통합했습니다.
volumes:
  postgres_data:  # RDS 사용 시 불필요
  opensearch-data: