version: '3.8'

services:
  backend:
    image: ${ECR_REPOSITORY}:${IMAGE_TAG}
    container_name: backend
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    restart: always
    command: >
      bash -c "
      python manage.py collectstatic --no-input &&
      python manage.py migrate &&
      gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "

