# PostgreSQL
psycopg2-binary==2.9.9

# Django core
Django==6.0
asgiref==3.11.0
sqlparse==0.5.5
pytz==2025.2

# Django extensions
djangorestframework==3.16.1
django-cors-headers==4.9.0
drf-yasg==1.21.11

# Server
gunicorn==23.0.0

# Security / Crypto
cryptography==46.0.3
cffi==2.0.0
pycparser==2.23

# Utils
python-dotenv==1.2.1
PyYAML==6.0.3
uritemplate==4.2.0
inflection==0.5.1
packaging==25.0

#clerk
svix==1.38.0

# JWT
PyJWT==2.9.0
PyJWT[crypto]==2.9.0

requests==2.32.5