global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'django'
    static_configs:
      - targets: ['backend:8000']
    metrics_path: /metrics

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080'] # 컨테이너 네트워크 내부 통신이므로 8080 유지
    scrape_interval: 10s
