# Grafana 데이터소스 자동 설정

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus  # UID 명시적 지정
    isDefault: true
    editable: true
